body{
    animation-name: colorflow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes colorflow{
    0%{
        background-color: #0061a1;
    }
    25%{
        background-color: #00d4a6;
    }
    50%{
        background-color: #c200c2;
    }
    75%{
        background-color: #c90a43;
    }
    100%{
        background-color: #f83a00;
    }
}